@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    
  background-color: #b88907f8;
  color: #1d6d1afb;
  background-image: url(images/imgcanhca.avif);
  background-position: center center;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffa601;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #106b27;
  font-weight: 800;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600;
}

.icons {
    display: flex;
    
}
.icons i {
    font-size: 25px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}
.icons i:hover {
    color: #266371;
}


.hero {
  background: url('https://codewithsadee.github.io/footcap/assets/images/hero-banner.jpg') no-repeat center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e7a006;
  background-image: url(images/los-tenis-de-básquetbol-más-cómodos-nike.avif);
  background-attachment: fixed;
}

.hero-content {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(11, 59, 45, 0.938);
    padding: 40px;
    border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #057232d0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.products {
  padding: 60px 10%;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 10px rgba(12, 184, 252, 0.884);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.onclick {
  background: #0ab320;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  background: #ecaf05;
  color: #0c0c0cc4;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


/*Global Style*/
/*.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;

}
*/


/* seccion carrito */
.carrito{
    border: 1px solid #ffef0c;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #e66801;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #fa0808;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fffdfd;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }
