* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header a{
    color: #ff9305f3;
    margin-right: 60px;
    font-size: 50px;
}

body {
  background-image: url(imagen/GFX-1082\ NBA\ Players\ ranked\ FTR.jpg);
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #1c3653fa;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 10px 5px 20px rgba(240, 185, 4, 0.938);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}
